<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polars-登录</title>
    <link rel="stylesheet" href="/client/style/signIn.css">
</head>
<body>
    <div id='bg'></div>
    <div id="container">
        <h1>POLARS</h1>
        <h4 id="side">遇见更好的你</h4>
        <div id="signIn">
            <div id="signIn-head">登录</div>
            <input type="email" placeholder="用户名/邮箱" id="signIn-email">
            <input type="password" placeholder="密码" id="signIn-password">
            <ul>
                <li onclick="closeIn()"><a href="#">注册账号 |</a></li>
                <li><a href="#">帮助 |</a></li>
                <li><a href="#">找回密码</a></li>
            </ul>
            <button id="signIn-submit">登录</button>
        </div>

    </div>
    <script src="/client/src/signIn.js"></script>
    <script src="/client/src/check.js"></script>
</body> 
</html>