<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polars-注册</title>
    <link rel="stylesheet" href="/style/signUp(new).css">
    <link rel="stylesheet" href="/style/fonticon.css">
</head>
<body>
    <div id="container">
        <h1>POLARS</h1>
        <h4 id="side">所爱隔山海，山海皆可平</h4>
        <div id="signUp">
            <div id="signUp-side1">
                <h2 id="signUp-side1-h2">POLARS</h2>
                <div></div>
                <div></div>
                <div class="signUp-side1-insideFont" >你是集市的养猫者</div>
                <div class="signUp-side1-insideFont">不看路人，不换爱人</div>
                <div class="signUp-side1-insideFont" >眼见他起高楼，眼见他宴宾客</div>
                <div class="signUp-side1-insideFont">眼见他楼塔了</div>
                <div class="signUp-side1-insideFont" >妙语连珠是猎物</div>
                <div class="signUp-side1-insideFont" >支支吾吾是喜欢</div>
                <div class="signUp-side1-insideFont" style="font-size: 25px;margin-top: 10px;">勇敢去遇见所向往的她!</div>
            </div>
            <div id="signUp-middle" style="width: 2px; height: 435px;background-color: white;margin-top: 8px;"></div>
            <div id="signUp-side2">
                <div id="signUp-side2-back">
                    <a href="./signIn(new).html" class="iconfont iconfanhui1"></a>
                </div>    
                <h2 id="signUp-side2-head">注册</h2>
                <input type="text" placeholder="邮箱/用户名" class="signUp-side2-input signUp-side2-inputEmail">
                <input type="text" placeholder="验证码" class="signUp-side2-input signUp-side2-inputCaptcha">
                <a id="getCaptcha" href="#">获取验证码</a>
                <a href="#" class="iconchenggong-01"></a>
                <a href="#" class="iconcuowushibaibukeyong"></a>
                <input type="password" placeholder="密码" class="signUp-side2-input signUp-side2-inputPassword">
                <input type="psssword" placeholder="再次确认密码" class="signUp-side2-input signUp-side2-conPass">
                <button id="signUp-side2-submit">注册</button>   
            </div>
        </div>
    </div>
</body>
</html>