<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polars-注册</title>
    <link rel="stylesheet" href="/style/signUp(new).css">
    <link rel="stylesheet" href="/style/fonticon.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="container">
        <h1>POLARS</h1>
        <h4 id="side">世界皆可及，万物皆可期</h4>
        <div id="signUp">
            <div id="signUp-side1">
                <h2 id="signUp-side1-h2">POLARS</h2>
                <div></div>
                <div></div>
                <div class="signUp-side1-insideFont" >Polars是一款便捷网页通讯应用</div>
                <div class="signUp-side1-insideFont">它拥有基本的单聊，群聊功能</div>
                <div class="signUp-side1-insideFont" >拥有基于单个用户的留言板功能</div>
                <div class="signUp-side1-insideFont">无需下载客户端也能使用</div>
                <div class="signUp-side1-insideFont" >它可以是你的好友，合作伙伴</div>
                <div class="signUp-side1-insideFont" >也是通往世界的大门</div>
                <div class="signUp-side1-insideFont" style="font-size: 25px;margin-top: 5px;">欢迎加入Polars世界</div>
                <div class="signUp-side1-insideFont" style="font-size: 25px;margin-top: 10px;">你便是那唯一的光！</div>
            </div>
            <div id="signUp-middle" style="width: 2px; height: 435px;background-color: white;margin-top: 8px;"></div>
            <div id="signUp-side2">
                <div id="signUp-side2-back">
                    <a href="./signIn(new).html" class="iconfont iconfanhui1"></a>
                </div>    
                <h2 id="signUp-side2-head">注册</h2>
                <input type="text" placeholder="邮箱地址" class="signUp-side2-input signUp-side2-inputEmail">
                <input type="text" placeholder="验证码" class="signUp-side2-input signUp-side2-inputCaptcha">
                <a id="getCaptcha" href="#">获取验证码</a>
                <a href="#" class="iconchenggong-01"></a>
                <a href="#" class="iconcuowushibaibukeyong"></a>
                <input type="text" placeholder='用户名（目前只支持英文）' class="signUp-side2-input signUp-side2-inputUserName">
                <input type="password" placeholder="密码" class="signUp-side2-input signUp-side2-inputPassword">
                <input type="password" placeholder="再次确认密码" class="signUp-side2-input signUp-side2-conPass">
                <button id="signUp-side2-submit">注册</button>   
            </div>
        </div>
    </div>
    <script type="module" src="/src/signUp.js"></script>
</body>
</html>