<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polars-登录</title>
    <link rel="stylesheet" href="/style/signIn(new).css">
    <link rel="stylesheet" href="/style/fonticon.css">
</head>
<body>
    <div id="container">
        <h1>POLARS</h1>
        <h4 id="side">所爱隔山海，山海皆可平</h4>
        <div id="signIn">
            <div id="signIn-side1">
                <h2 id="signIn-side1-h2">POLARS</h2>
                <div></div>
                <div></div>
                <div class="signIn-side1-insideFont" >你是集市的养猫者</div>
                <div class="signIn-side1-insideFont">不看路人，不换爱人</div>
                <div class="signIn-side1-insideFont" >眼见他起高楼，眼见他宴宾客</div>
                <div class="signIn-side1-insideFont">眼见他楼塔了</div>
                <div class="signIn-side1-insideFont" >妙语连珠是猎物</div>
                <div class="signIn-side1-insideFont" >支支吾吾是喜欢</div>
                
                <div class="signIn-side1-insideFont" style="font-size: 25px;margin-top: 10px;">勇敢去遇见所向往的她!</div>
            </div>
            <div id="signIn-middle" style="width: 2px; height: 435px;background-color: white;margin-top: 8px;"></div>
            <div id="signIn-side2">
                <h2 id="signIn-side2-head">登录</h2>
                <a id="signIn-side2-toSignUp" href="./signUp(new).html">没有账号？立即注册</a>
                <input type="text" placeholder="邮箱/用户名" class="signIn-side2-input signIn-side2-inputEmail">
                <input type="password" placeholder="密码" class="signIn-side2-input signIn-side2-inputPassword">
                <ul>
                    <li><a href="#">找回密码 |</a></li>
                    <li><a href="#">帮助 |</a></li>
                    <li><a href="#">关于Polars</a></li>
                </ul>
                <button id="signIn-side2-submit">登录</button>
                    <span class="iconfont  iconyonghu1 signIn-side2-toOther" style="cursor: pointer;"></span>
                    <div class="signIn-side2-toOther" style="grid-area: 12/1/13/2; text-align: center;margin-top: 7px;cursor: pointer;">其他登录方式</div>   
            </div>
        </div>
    </div>
</body>
</html>