<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polars-登录</title>
    <link rel="stylesheet" href="/style/signIn(new).css">
    <link rel="stylesheet" href="/style/fonticon.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <div id="container">
        <h1>POLARS</h1>
        <h4 id="side">世界皆可及，万物皆可期</h4>
        <div id="signIn">
            <div id="signIn-side1">
                <h2 id="signIn-side1-h2">POLARS</h2>
                <div></div>
                <div></div>
                <div class="signIn-side1-insideFont" >Polars是一款便捷网页通讯应用</div>
                <div class="signIn-side1-insideFont">它拥有基本的单聊，群聊功能</div>
                <div class="signIn-side1-insideFont" >拥有基于单个用户的留言板功能</div>
                <div class="signIn-side1-insideFont">无需下载客户端也能使用</div>
                <div class="signIn-side1-insideFont" >它可以是你的好友，合作伙伴</div>
                <div class="signIn-side1-insideFont" >也是通往世界的大门</div>
                <div class="signIn-side1-insideFont" style="font-size: 25px;margin-top: 5px;">欢迎回到POLARS</div>
                <div class="signIn-side1-insideFont" style="font-size: 25px;margin-top: 10px;">去探索向往的世界吧!</div>
            </div>
            <div id="signIn-middle" style="width: 2px; height: 435px;background-color: white;margin-top: 8px;"></div>
            <div id="signIn-side2">
                <h2 id="signIn-side2-head">登录</h2>
                <a id="signIn-side2-toSignUp" href="./signUp(new).html">没有账号？立即注册</a>
                <input type="text" placeholder="邮箱地址" class="signIn-side2-input signIn-side2-inputEmail">
                <input type="password" placeholder="密码" class="signIn-side2-input signIn-side2-inputPassword">
                <ul>
                    <li><a href="#">找回密码 |</a></li>
                    <li><a href="#">帮助 |</a></li>
                    <li><a href="#">关于Polars</a></li>
                </ul>
                <button id="signIn-side2-submit">登录</button>
                    <span class="iconfont  iconyonghu1 signIn-side2-toOther" style="cursor: pointer;"></span>
                    <div class="signIn-side2-toOther" style="grid-area: 12/1/13/2; text-align: center;margin-top: 7px;cursor: pointer;">其他登录方式</div>   
            </div>
        </div>
    </div>
    <script type="module" src="/src/signIn.js"></script>
</body>
</html>